<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="https://cdn.glitch.global/f0f411fb-8c6a-49ea-8195-2e9343bbb482/20220724162020.png?v=1658669036040" width="320" alt="Astra Uptime">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">Astra Uptime</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Astra Uptime Gelişmiş, Kaliteli, Kesintiniz Uptime Adresi 10 monitöre kadar projelerinizi ücretsiz aktif tutun!

</p>
        <br><br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;" id="typeText"></p>
      </div>
    </div>
    <br>
    </center>
</section>